.navbar-light {
  overflow: hidden;
}

.navbar-light a {
  float: left;
}


.dropdown {
  float: left;
  overflow: hidden;
position: static;
}

.dropdown .dropbtn {
 font-size: inherit;
border: none;
outline: none;
padding: 8px 5px;
background-color: inherit;
margin: 0;
color: #203767;
}

/* .navbar-light a:hover, .dropdown:hover .dropbtn {
  background-color: #fff;
} */

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background:#fff;
  margin-top: 40px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* .dropdown-content a:hover {
  background-color: #fff;
} */

.dropdown:hover .dropdown-content {
  display: block;
}

.cta-btn a:hover,.cta-btn a.active {
	background:#1695C2;
	color:#fff !important;
}
.cta-btn a:hover .fas,.cta-btn a.active .fas{
	color:#fff !important;	
}
